---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ManghiDev - 404 not found" language="es" htmlClasses="text-back dark:text-white bg-white dark:bg-[#13151a]" metaTags={ false }>
	<main class="h-screen center py-5 lg:py-0">
        <div class="container mx-auto">
            <div class="text-center">
                <h1 class="text-7xl font-bold">404</h1>
                <p class="text-xl">Página no encontrada</p>
                <button class="bg-amber-700 px-4 py-2 mt-5 rounded-md" onclick="window.history.back()">
                    Volver
                </button>
            </div>
        </div>
	</main>
</Layout>