---
const getExperience = (start: Date, end: Date) => {
    const startDate = new Date(start);
    const endDate = new Date(end);

    let diffYears = endDate.getFullYear() - startDate.getFullYear();
    const diffMonths = endDate.getMonth() - startDate.getMonth();
    const diffDays = endDate.getDate() - startDate.getDate();

    // If the end date is before the start date, subtract one year
    if (diffMonths < 0 || (diffMonths === 0 && diffDays < 0)) diffYears--;

    return diffYears;
};

const myExperience = getExperience(new Date("2018-08-13"), new Date());
---

<div class="card col-span-12 md:col-span-4 lg:col-span-1 md:row-span-10 lg:row-span-6 center">
    <div class="flex flex-col justify-around w-full h-full">
        <h1 class="text-xl text-center">
            <strong class="myTextGradient">Algo sobre mi...</strong>
        </h1>
        
        <p class="text-xs">
            Desarrollador full-stack con más de { myExperience } años de experiencia en desarrollo de aplicaciones/software a la medida.
        </p>
        <p class="text-xs">
            Estas son algunas de las tecnologías que he utilizado en mis proyectos:
        </p>
        <ul class="text-xs list-disc pl-7">
            <li>Angular</li>
            <li>Astro</li>
            <li>TailwindCSS</li>
            <li>Flutter</li>
            <li>Express.js</li>
            <li>Docker</li>
            <li>MP CheckOut Pro</li>
            <li>AWS, entre otras...</li>
        </ul>
        <p class="text-xs">
            Aunque tengo herramientas y tecnologicas que manejo más, me gusta aprender nuevas, para mejorar mis conocimientos y utilizar lo mejor para cada proyecto.
        </p>
    </div>
</div>