---
const year = new Date().getFullYear();
---

<div class="card col-span-12 md:col-span-4 lg:col-span-1 center text-center text-xs">
    <div>
        <span class="myTextGradient">{year}</span> · Elaborado por <span class="mtTextGradientReverse">manghidev</span>.
    </div>
</div>