<div class="card col-span-12 md:col-span-4 lg:col-span-2 row-span-4 lg:row-span-2">
    <div class="flex flex-col justify-between w-full h-full">
        <p class="text-2xl">
            <strong class="mtTextGradientReverse">Mi hora local</strong>
        </p>
        <p class="text-2xl md:text-4xl center">
            <span id="time"></span>
        </p>
    </div>
</div>

<script>
    const element = document.getElementById('time');

    const updateTime = () => {
        let time = '';

        const dateUTC = new Date().toUTCString();
        let date = new Date(dateUTC.replace('GMT', ''));
        let newDatedate = new Date(date.getTime() - (6 * 60 * 60 * 1000));
        time = newDatedate.getHours() + ':' + newDatedate.getMinutes().toString().padStart(2, '0') + ':' + newDatedate.getSeconds().toString().padStart(2, '0');
        time += newDatedate.getHours() >= 12 ? ' PM' : ' AM';
        
        element!.innerText = time;
    }

    updateTime();

    setInterval(() => updateTime(), 1000);
</script>