---
import { getLangFromCookies, useTranslations } from '../i18n/utils';

const lang = getLangFromCookies(Astro.cookies);
const t = useTranslations(lang);
---

<div class="card col-span-12 md:col-span-4 lg:col-span-1 lg:col-start-2 md:row-span-4 lg:row-span-2 center">
    <div class="flex justify-between text-justify w-full h-full">
        <div class="flex flex-col justify-between">
            <h1 class="text-sm">
                { t('card5.title') }
            </h1>
            <p class="text-lg font-bold">
                { t('card5.paragraph1') }
            </p>
        </div>

        <span class="relative flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#EF9A25]"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-[#EF9A25] opacity-75"></span>
        </span>
    </div>
</div>
