<div class="card col-span-12 md:col-span-4 lg:col-span-1 md:row-span-2 h-44 lg:h-full center hover:cursor-alias hover:text-[#EF9B25C5]" id="projects">

    <img src="/proyecta.webp" class="carousel max-w-44" width="100%" height="100%" alt="Proyecta logo"/>
    <img data-src="/kinnil.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="Kinnil logo"/>
    <img data-src="/jade.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="JADE logo"/>
    <img data-src="/ox.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="OX logo"/>
    <img data-src="/ignite.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="Ignite logo"/>
    <img data-src="/ezsort.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="EZSort logo"/>
    <img data-src="/inbayt.webp" class="lazyload carousel max-w-44 hidden" width="100%" height="100%" alt="InBayt logo"/>
    
</div>

<script>
    const imgs = document.querySelectorAll('.carousel');
    let imgPosition = 0;
    const seconds = 2500;

    const links = [
        'https://proyecta.utch.edu.mx/',
        'https://kinnil.com/',
        'https://jadesmartcargo.com/',
        'https://www.oxlogistic.com/',
        'https://pidelectronics.com/ignite/',
        'https:///app.ezsort.tech/',
        'https://app.inbayt.com/',
    ];

    let interval = setInterval(nextImg, seconds);

    function updatePosition() {
        for (let img of imgs) {
            img.classList.remove('block');
            img.classList.add('hidden');
        }

        imgs[imgPosition].classList.remove('hidden');
        imgs[imgPosition].classList.add('block');
    }

    function nextImg() {
        if (imgPosition === imgs.length - 1) imgPosition = 0;
        else imgPosition++;

        updatePosition();
    }

    document.getElementById('projects')!.addEventListener('click', () => window.open(links[imgPosition], '_blank'));

    document.getElementById('projects')!.addEventListener('mouseover', () => clearInterval(interval));

    document.getElementById('projects')!.addEventListener('mouseout', () => interval = setInterval(nextImg, seconds));
</script>