<div class="card text-center col-span-12 md:col-span-4 lg:col-span-1 lg:row-span-1 center hover:cursor-pointer hover:text-[#EF9B25C5]" id="easterEgg">
    <span id="randomMessage"></span>
</div>

<script>
	import confetti from 'canvas-confetti'; 

    const messages = [
        '¡Usted es maravilloso!',
        '¡Eres fabuloso!',
        '¡Eres increíble!',
        '¡Usted es fantástica!',
        '¡Eres maravilloso!',
        '¡Eres genial!',
        '¡Eres el mejor!',
        '🌳',
        '¡Eres la mejor!',
        '¡El mejor desarrollador!',
        '¡El mejor diseñador!',
        'La mejor persona',
        '¡Felicidades!',
        '¡Encontraste el huevo de Pascua!',
        '¡Sigan con el buen trabajo!',
        '¡Excelente trabajo!',
        '¡Bien hecho!',
        '🌴'
    ];

    document.getElementById('randomMessage')!.innerHTML = '👾';

    let randomMessage = messages[Math.floor(Math.random() * messages.length)];

    const button = document.getElementById('easterEgg')!;

    button.addEventListener('click', () => {
        if (randomMessage === "¡Bien hecho!") {
            return document.getElementById('randomMessage')!.innerHTML = '🥭';
        }

        const rect = button.getBoundingClientRect();

        const x = (rect.left + rect.width / 2) / window.innerWidth;
        const y = (rect.top + rect.height / 2) / window.innerHeight;

        confetti({
            spread: 150,
            origin: { x, y },
        });
        
        randomMessage = messages[Math.floor(Math.random() * messages.length)];
        document.getElementById('randomMessage')!.innerHTML = randomMessage;
    });
</script>