<div class="card col-span-12 md:col-span-4 lg:col-span-1 row-span-8 lg:row-span-4 text-wrap truncate">
    <h1 class="text-xl text-center pb-4 mtTextGradientReverse">
        <strong class="myTextGradient">¡Vamos a trab</strong><strong class="mtTextGradientReverse">ajar juntos!</strong>
    </h1>
    <p class="text-center md:text-justify">
        Si tienes un proyecto en mente, una idea que quieras llevar a cabo o simplemente quieres hablar conmigo, no dudes en contactarme.
    </p>
</div>