<div class="card col-span-12 md:col-span-4 lg:col-span-1 md:row-span-10 lg:row-span-6 center">
    <div class="flex flex-col text-justify">
        <h1 class="py-[0.05rem] text-xl text-center">
            <strong class="myTextGradient">Algo sobre mi...</strong>
        </h1>
        <p class="py-[0.15rem] text-xs">
            Hola, soy Ricardo, desarrollador full-stack con base en México.
        </p>
        <p class="py-[0.15rem] text-xs">
            Algunas de las herramientas o tecnologías que manejo son:
        </p>
        <ul class="py-[0.15rem] text-xs list-disc pl-7">
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>MySQL</li>
            <li>Git</li>
            <li>Node.js</li>
            <li>Bootstrap</li>
            <li>TailwindCSS...</li>
        </ul>
        <p class="py-[0.15rem] text-xs">
            Más haya de las tecnologías, me apasionan los autos, los videojuegos y el pasar tiempo con mi familia.
        </p>
        <p class="py-[0.15rem] text-xs">
            Aunque tengo herramientas y tecnologicas que manejo más, me gusta aprender nuevas tecnologías y herramientas, para mejorar mis conocimientos y encontrar lo mejor para cada proyecto.
        </p>
    </div>
</div>