<div class="card col-span-12 md:col-span-4 lg:col-span-1 md:row-span-2 center hover:cursor-pointer hover:text-[#EF9B25C5]" id="certifications">
    <h1>
        Mis certificaciones
    </h1>
</div>

<script>
    document.getElementById('certifications')!.addEventListener('click', () => {
        window.open('https://www.linkedin.com/in/rial-rova/details/certifications/', '_blank');
    });
</script>