<div class="card col-span-3 text-center text-xs">
    © <span class="myTextGradient" id="year"></span> · Elaborado con el ❤️ utilizando Astro por <span class="mtTextGradientReverse">manghidev</span>.
</div>

<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
