<div class="card col-span-12 md:col-span-4 lg:col-span-1 md:row-span-10 lg:row-span-6 center">
    <div class="flex flex-col justify-between w-full h-full">
        <h1 class="py-[0.55rem] text-xl text-center">
            <strong class="myTextGradient">Algo sobre mi...</strong>
        </h1>
        <div>
            <p class="py-[0.55rem] text-xs">
                Desarrollador full-stack con más de 5 años con base en México.
            </p>
            <p class="py-[0.55rem] text-xs">
                Algunas de las herramientas o tecnologías que manejo son:
            </p>
            <ul class="py-[0.55rem] text-xs list-disc pl-7">
                <li>Express.js</li>
                <li>Angular</li>
                <li>Astro</li>
                <li>TailwindCSS</li>
                <li>Docker</li>
                <li>Flutter</li>
                <li>Entre otras...</li>
            </ul>
            <p class="py-[0.55rem] text-xs">
                Aunque tengo herramientas y tecnologicas que manejo más, me gusta aprender nuevas, para mejorar mis conocimientos y utilizar lo mejor para cada proyecto.
            </p>
        </div>
    </div>
</div>