---
const year = new Date().getFullYear();
---

<div class="card col-span-12 md:col-span-4 lg:col-span-1 center text-center text-xs">
    <h1>
        <span class="myTextGradient">ManghiDev</span> · <span class="mtTextGradientReverse">{ year }</span>
    </h1>
</div>