---
import Favicon from "../utilities/favicon.astro";
import MetaTags from "../utilities/metaTags.astro";
import Scripts from "../utilities/globalScripts.astro";
import Styles from "../utilities/globalStyles.astro";

import { getLangFromCookies } from '../i18n/utils';

const lang = getLangFromCookies(Astro.cookies);

interface Props {
	title: string;
	htmlClasses: string;
	metaTags?: boolean;
}

const {
	title,
	htmlClasses,
	metaTags = true,
} = Astro.props;
---

<!doctype html>
<html lang={ lang } class={ htmlClasses }>
	<head>
		<meta charset="UTF-8"/>

		{ metaTags && <MetaTags/> }

		<Favicon/>

		<title>{ title }</title>

		<Styles/>
	</head>
	<body>
		<slot/>
	</body>

	<Scripts/>
</html>